# OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Azure Cosmos DB
# For Emulator: AccountEndpoint=https://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
# For Azure: AccountEndpoint=https://<account>.documents.azure.com:443/;AccountKey=<key>
COSMOS_DB_CONNECTION_STRING=AccountEndpoint=https://<account>.documents.azure.com:443/;AccountKey=<your_key_here>;
COSMOS_DB_DATABASE_NAME=minitale-studio
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<account>;AccountKey=<your_key_here>;EndpointSuffix=core.windows.net
AZURE_BLOB_URL=https://<account>.blob.core.windows.net/minitalestudio

# Redis
# For local: redis://localhost:6379/0
# For Upstash (TLS): rediss://default:<password>@<host>:6379/0
REDIS_URL=rediss://default:<password>@<host>.upstash.io:6379/0

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Frontend
REACT_APP_API_URL=http://localhost:8000

# JWT Authentication
JWT_SECRET_KEY=your_jwt_secret_key_here

#YouTube API
YOUTUBE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
YOUTUBE_CLIENT_SECRET=your_google_client_secret_here
YOUTUBE_REDIRECT_URI=http://localhost:8000/oauth/callback
